.box{
    background: var(--white);
    padding: 1.25em 4.375em;
    border-radius: .625em;
    width: 50%;
    height: 11.375em;
    margin: 1.375em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
}
.box p{
    font-size: .875em;
    line-height: 1.75em;
    font-weight: 600;
    color: var(--dark-gray);
}
.box button{
    background: var(--secundary-green);
    border: none;
    padding: .7em;
    font-size: .875em;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--white);
    width: 100%;
    max-width: 9.7625em;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.box button:hover,
.box button:focus{
    background: var(--green);
}