.titleProd {
    font-size: 0.875rem;
    text-transform: uppercase;
    width: 22.25em;
}

.titleQtde,
.titleUnity,
.titleTotal {
    font-size: 0.875rem;
    text-align: center;
    text-transform: uppercase;
    width: 11em;
}
