.titleProd {
  width: 22.25em;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.titleQtde,
.titleUnity,
.titleTotal {
  font-size: 0.875rem;
  text-transform: uppercase;
  width: 11em;
  text-align: center;
}
