.content {
    display: flex;
    flex-flow: column nowrap;
}

.product {
    display: flex;
    flex-flow: row nowrap;
    padding: 1em 0;
    width: 19rem;
    
    figure {
        padding: 0 1rem;
        width: 8.4375em;
        height: 8.4375em;
    }

    img {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}

.product-description {
    max-width: 170px;
    padding: 0.5em 1em;
    
    h3 {
        color: var(--dark-gray);
        font-size: 0.875em;
        font-weight: 600;
        margin-bottom: 1.25em;
    }

    p {
        color: var(--gray-text);
        font-size: 0.75em;
        font-weight: 400;
        line-height: 1.525em;
    }
}
