.login {
    align-items: center;
    display: flex;
    flex-flow: nowrap;
    font-size: 0.6875em;
    margin: 0 1em;
    
    a {
        color: var(--black);
        text-decoration: none;
        text-transform: uppercase;
    
        &:hover,
        &:focus {
        text-decoration: underline;
        }
  }
  
  svg {
    font-size: 1.4em;
    margin-right: 7px;
  }

  span {
    margin: 0 0.5em;
  }
}
.login {
    
  span {
    margin: 0 0.5em;
  }
}
