.area{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
.form{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.input,
.button{
    width: 20vw;
    margin-bottom: 1em;
}
.input{
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 1em;
}
label{
    display: block;
}
.button{
    background: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 1em 5em;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    text-decoration: none;
}
.button:hover,
.button:focus{
    filter:brightness(95%);
}
.boxList:not(:first-of-type){
    border-top: 1px solid var(--gray);
}
.listUni{
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 2em;
}
.listUni p{
    color: var(--dark-gray);
    font-size: .875em;
}
.listUni figure{
    overflow: hidden;
    height: 100%;
    width: 110px;
    /* border: 1px solid lime; */
}
.listUni img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.listLinks{
    display: flex;
    justify-content: flex-end;
}
.listLinks button,
.listLinks a{
    background: none;
    color: var(--dark-gray);
    border: none;
    margin-left: 1em;
    font-size: .875em;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 2em;
    text-decoration: underline;
    color: var(--green);
}
.info{
    width: 300px;
}
.promotion{
    color: var(--red) !important;
    font-weight: 400;
    border: 1px solid var(--red);
    padding: .5em;
    border-radius: 5px;
    font-size: .625em !important;
    position: absolute;
    left: 30em;
    top: 4em;
}
.add{
    margin: 2em 0;
    float: left;
    clear: both;
    text-align: center;
    font-size: 14px;
}