h1 {
    background: linear-gradient(to right, #056cdb, #00b3db);
    display: inline-block;
    font-weight: bold;
    margin: 2em 0 0.5em;
    width: auto;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.info {
    width: 31.9642857%;
}
.btnBuy {
    background: var(--secundary-green);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 3px var(--gray);
    color: var(--white);
    cursor: pointer;
    font-size: 1em;
    font-weight: 800;
    padding: 0.7em;
    margin: 1.1875em 0;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;

    &:hover,
    &:focus {
        background: var(--green);
    }
}
.note {
    background: #f08d0621;
    border: 1px solid #f08d06;
    border-radius: 4px;
    color: #5d3c0f;
    font-size: 0.875em;
    font-weight: 400;
    padding: 1em;
    
    strong {
        font-weight: 600;
    }

    p {
        font-size: 0.87em;
        margin-top: 0.5em;
    }
}

.images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 25.375em;
    width: 65.196429%;
}

.warning {
    div {
        label {
            border: 1px solid var(--red);
            color: var(--red) !important;
        }
    }
    p {
        color: var(--red);
    }
    span {
        label {
            color: var(--red) !important;
            &::before {
                border: 1px solid var(--red);
                color: var(--red) !important;
            }
        }
    }
}

.messageWarning {
    &::before {
        content: "";
        display: inline-block;
        height: 15px;
        margin-right: 0.3em;
        vertical-align: middle;
        width: 15px;
    }
}
.warningShow {
    display: block !important;
}
