.total {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: center;
    padding: 1em 2.8em;
}
.treal {
    color: var(--secondary-gray);
    font-size: 0.75em;
    line-height: 1.75em;
    text-decoration: line-through;
}

.tdiscount {
    color: var(--dark-gray);
    font-size: 1em;
    font-weight: 600;
}
