.title {
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: normal;
  text-transform: uppercase;
  margin: -0.5em 0 2em;
  color: var(--blue);
}
.button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 350px;
  background: var(--secundary-green);
  padding: 0.7em;
  text-decoration: none;
  color: var(--white);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 4px;
  box-shadow: 0 2px 3px var(--gray);
  &:hover,
  &:focus {
    background: var(--green);
  }
}

article {
  margin: 25vh auto;
  text-align: center;
}
.titleMessage {
  font-size: 1.25em;
  color: var(--dark-gray);
}
.message {
  font-size: 1.125em;
  font-weight: 400;
  color: var(--gray-text);
  margin: 1em 0;
}
