.title {
    color: var(--blue);
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.25em;
    margin: -0.5em 0 2em;
    text-transform: uppercase;
}

.button {
    align-items: center;
    background: var(--secundary-green);
    border-radius: 4px;
    box-shadow: 0 2px 3px var(--gray);
    color: var(--white);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0.7em;
    text-decoration: none;
    transition: all 0.2s linear;
    width: 350px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;

    &:hover,
    &:focus {
        background: var(--green);
    }
}

article {
    margin: 25vh auto;
    text-align: center;
}

.titleMessage {
    color: var(--dark-gray);
    font-size: 1.25em;
}

.message {
    color: var(--gray-text);
    font-size: 1.125em;
    font-weight: 400;
    margin: 1em 0;
}
