.productSize {
    color: #545454;
    font-weight: 400;
    font-size: 0.875em;
    margin: 1.2em 0;
}

.groupOption {
    display: inline-block;
    margin: 0.7em 0.5em 1em 0;
    position: relative;
    
    input {
        display: none;
    }

    label {
        border: 1px solid var(--dark-gray);
        color: var(--dark-gray);
        cursor: pointer;
        display: inline-block;
        padding: 0.4em 1.5em;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
    }

    :checked ~ label {
        background: var(--dark-gray);
        color: var(--white);
    }
}

.messageWarning {
    background: pink;
    border-radius: 4px;
    color: red;
    display: block;
    font-size: 0.75em;
    margin-top: 1rem;
    padding: 0.5rem;
    
    .icon {
        font-size: 1.4em;
        margin-right: 0.3em;
        vertical-align: middle;
    }
}
