.area {
    & > div {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 1rem;
        padding: 0 0.5rem;
        position: relative;
    }
}

h2 {
    color: var(--gray-text);
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.75em;
}

.cleanCart {
    background: none;
    border: none;
    color: #878787;
    cursor: pointer;
    float: right;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 1em;
    text-decoration: none;

    svg {
        display: inline-block;
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    
    &:hover,
    &:focus {
        color: var(--green);
        transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
    }
}

.warningPromotion {
    bottom: 2.3em;
    color: var(--orange);
    font-size: 10px;
    left: 15.5em;
    position: absolute;
}

.warningPromotion {
    svg {
        font-size: 1.3em;
        margin-right: 0.5em;
    }
}
