.area > div {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
.content {
  display: flex;
  flex-flow: column nowrap;
}
.product {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #e6e6e6;
  padding: 1em 0;
}
h2 {
  color: var(--gray-text);
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.75em;
}
.titles {
  border-bottom: 1px solid #e6e6e6;
}
.titleProd {
  width: 18.25em;
}
.titleQtde,
.titleUnity,
.titleTotal {
  width: 9.5em;
  text-align: center;
}
.product {
  figure {
    width: 8.4375em;
    height: 8.4375em;
  }
}
.product {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.productDescription {
  padding: 0.5em 1em;
  max-width: 195px;
}
.productDescription {
  h3 {
    font-size: 0.875em;
    font-weight: 600;
    color: var(--dark-gray);
    margin-bottom: 1.25em;
  }
}
.productDescription {
  p {
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1.525em;
    color: var(--gray-text);
  }
}
.unitary,
.total {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1em 2.8em;
  border-bottom: 1px solid #e6e6e6;
  height: 100%;
}
.vreal,
.treal {
  text-decoration: line-through;
  color: var(--secondary-gray);
  font-size: 0.75em;
  line-height: 1.75em;
}
.vdiscount,
.tdiscount {
  font-weight: 600;
  font-size: 1em;
  color: var(--dark-gray);
}
.unitary {
  ul {
    display: flex;
    flex-flow: row nowrap;
    background: var(--white);
    border: 1px solid #c8c8c8;
  }
}
.unitary {
  input {
    color: var(--dark-gray);
    border: none;
    width: 1.8em;
    text-align: center;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
  }
}
.remove {
  color: #878787;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: 2em;
  -webkit-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.remove {
  button {
    border: none;
    background: none;
    color: #878787;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
}
.remove {
  &::before {
    content: "x";
    width: 30px;
    height: 30px;
    margin-right: 0.3em;
  }
}
.remove:hover,
.remove:focus,
.remove:hover button,
.remove:focus button {
  color: var(--green);
}
.cleanCart {
  margin-top: 1em;
  font-size: 0.75em;
  color: #878787;
  font-weight: 400;
  float: right;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
.cleanCart:hover,
.cleanCart:focus {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: var(--green);
}
.substract,
.add {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0.1em 0.5em;
  font-size: 1em;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.substract:hover,
.add:hover,
.substract:focus,
.add:focus {
  background: linear-gradient(45deg, #056cdb, #00b3db);
  color: var(--white);
}
.warningPromotion {
  position: absolute;
  left: 15em;
  bottom: 1em;
  color: var(--orange);
  font-size: 10px;
}
.warningPromotion {
  svg {
    font-size: 1.3em;
    margin-right: 0.5em;
  }
}
