.cart {

  a {
      align-items: center;
      color: var(--black);
      border-left: 1px solid var(--black);
      display: flex;
      flex-flow: nowrap;
      font-size: 0.6875em;
      margin: 0 1em;
      padding-left: 1.5em;
      text-decoration: none;
      text-transform: uppercase;
      
      &:hover,
      &:focus {
        text-decoration: underline;
    }
  }

  svg {
    margin-right: 7px;
  }
}
.amount {
  position: relative;

  svg {
    color: var(--dark-gray, #333333);
    font-size: 2.3em;
  }
}

.number {
    align-items: center;
    background: var(--green);
    border-radius: 100%;
    color: var(--white);
    display: flex;
    height: 1em;
    justify-content: center;
    padding: 0.7em;
    position: absolute;
    right: 0;
    top: -0.3em;
    width: 1em;
}
