.view {
    align-items: center;
    background: var(--white);
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    padding: 1.5em;
    width: 84.1628959%;

    img {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }

    .loading {
        height: auto;
        width: 6rem;
    }
}
