.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}
.search {
  display: flex;
  align-items: center;
  background: var(--white);
  width: 25.3125em;
  margin-right: 2em;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0px 2px 3px var(--gray);
  input {
    border: none;
    outline: none;
    padding: 0.8em;
    width: calc(100% - 3.125em);
    font: normal normal normal 0.875em/1.375em "Open Sans";
    &::placeholder {
      color: var(--placeholder);
      font-size: 0.75em;
    }
    ::-moz-placeholder {
      color: var(--placeholder);
      font-size: 0.75em;
    }
  }
  button {
    background: none;
    border: none;
  }
}
.login,
.cart {
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
  }
  svg {
    margin-right: 7px;
  }
}
.login {
  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  svg {
    font-size: 1.4em;
  }
  span {
    margin: 0 0.5em;
  }
}
.login,
.cart a {
  display: flex;
  align-items: center;
  flex-flow: nowrap;
  font-size: 0.6875em;
  margin: 0 1em;
}
.cart {
  a {
    border-left: 1px solid var(--black);
    padding-left: 1.5em;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
.amount {
  position: relative;
  svg {
    font-size: 2.3em;
    color: var(--dark-gray, #333333);
  }
}
.number {
  background: var(--green);
  color: var(--white);
  border-radius: 100%;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em;
  position: absolute;
  right: 0;
  top: -0.3em;
}
