.sidebar{
    background: var(--red);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 3.4em;
}
.sidebar a{
    display: block;
    padding: .7em;
}
.sidebar a.home{
    padding: .9em;
}
.sidebar a.sock{
    padding: .8em;
}
.sidebar li a,
.sidebar li svg{
    transition: all .2s;
}
.sidebar li{ margin-bottom: .2em  }
.sidebar li a:hover,
.sidebar li a:focus{
    background: var(--white);
    border-radius: 3px;
    box-shadow: 0px 3px 6px var(--gray);
}
.sidebar li:hover svg,
.sidebar li:focus svg,
.sidebar li a:hover svg,
.sidebar li a:focus svg{
    fill: var(--red);
}
.sidebar img{
    width: 100%;
}
.sidebar li.logo{
    text-indent: -999999px;
    width: 100%;
    height: 50px;
    background: url('../../images/store-siteware.png') transparent no-repeat center center;
    margin: 1em 0 3em;
}