.unitary {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 1em 2.8em;
}

.vreal {
    color: var(--secondary-gray);
    font-size: 0.75em;
    line-height: 1.75em;
    text-decoration: line-through;
}

.vdiscount {
    color: var(--dark-gray);
    font-size: 1em;
    font-weight: 600;
}

.unitary {
    ul {
        background: var(--white);
        border: 1px solid #c8c8c8;
        display: flex;
        flex-flow: row nowrap;
    }
}

.unitary {
    input {
        border: none;
        border-left: 1px solid #c8c8c8;
        border-right: 1px solid #c8c8c8;
        color: var(--dark-gray);
        text-align: center;
        width: 1.8em;
    }
}
