.slide {
    background: #f1f1f1;
    border: 1px solid var(--text-gray, #1987e8);
    border-radius: 4px;
    height: 16em;
    margin-bottom: 1.2em;

  div {
    height: 100%;
    width: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.title {
    background: linear-gradient(to right, #056cdb, #00b3db);
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    width: auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.area {
    margin-top: -2.3rem;
}
